[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/nathanreiner/Dokumente/C++/LibreTextus/build/LibreTextus
Path=/home/nathanreiner/Dokumente/C++/LibreTextus/
Name=LibreTextus
Comment=Bible Application
Icon=/home/nathanreiner/Dokumente/C++/LibreTextus/data/Icon.svg
