[Desktop Entry]
Name=LibreTextus
Icon=${SNAP}/share/LibreTextus/data/icon.svg
Type=Application
Exec=${SNAP}/share/LibreTextus/LibreTextus
Terminal=false
