entry.search {
	border-radius: 0px;
	padding: 10px;
	color: @theme_text_color;
	background-color: @theme_text_background_color;
}

progress {
	border-bottom-color: @theme_highlight_color;
	border-bottom-width: 5px;
	margin: -5px;
}

box, .combo, menu, menubar {
	background-color: @theme_background_color;
	color: @theme_text_color;
}

menuitem:hover {
	background-color: @theme_highlight_color;
}

scrollbar {
	background-color: @theme_background_color;
}

text, textview {
	color: @theme_text_color;
	background-color: @theme_text_background_color;
}

@define-color theme_text_color #d3dae3;
@define-color theme_text_background_color #22242d;
@define-color theme_background_color #2f343f;
@define-color theme_highlight_color #2c5d94;
