@import "template.css";

@define-color theme_text_color #fff;
@define-color theme_text_background_color #2c2c2c;
@define-color theme_background_color #3d3d3d;
@define-color theme_highlight_color #7897cc;
@define-color theme_accent_color #282828;
@define-color theme_mark_color #3d3d3d;

#history_button button {
	background-image: url('res/dark/arrow_down.svg');
}

#add_button {
	background-image: url('res/dark/add.svg');
}

#close_button {
	background-image: url('res/dark/close.svg');
}

#remove_button {
	background-image: url('res/dark/remove.svg');
}
