@import "template.css";

@define-color theme_text_color #000;
@define-color theme_text_background_color #ffffff;
@define-color theme_background_color #dedede;
@define-color theme_highlight_color #457fb5;
@define-color theme_accent_color #b0adad;

#history_button button {
	background-image: url('res/light/arrow_down.svg');
}

#add_button {
	background-image: url('res/light/add.svg');
}

#close_button {
	background-image: url('res/light/close.svg');
}
