.background {
	color: @theme_text_color;
}

window {
	box-shadow: 0 0 0 1px @theme_accent_color;
	background-color: @theme_background_color;
}

#no_result_label {
	opacity: 0.5;
}

#search_entry {
	border-radius: 0px;
	padding: 10px;
	color: @theme_text_color;
	background-color: @theme_text_background_color;
}

#search_entry entry.search {
	background-color: @theme_text_background_color;
	border: none;
}

#search_entry label {
	opacity: 0.5;
}

image {
	color: @theme_text_color;
	opacity: 0.8;
}

image:focus {
	color: @theme_text_color;
	opacity: 0.8;
}

#search_entry progress {
	border-bottom-color: @theme_highlight_color;
	border-bottom-width: 5px;
	margin: -10px;
	margin-left: -18px;
	margin-right: -8em;
}

box, .combo, menu, menubar, entry, button, spinbutton {
	background-color: @theme_background_color;
	color: @theme_text_color;
	border-color: @theme_accent_color;
	border-width: 1px;
	box-shadow: none;
	background-image: none;
}

menuitem:hover {
	background-color: @theme_highlight_color;
}

scrollbar {
	background-color: @theme_background_color;
}

text, #text_view, #verse_box {
	color: @theme_text_color;
	background-color: @theme_text_background_color;
}

#verse_box {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

#active_verse {
	background-color: @theme_text_background_color;

	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;

	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: @theme_background_color;
}

#text_view:focus #active_verse {
	border-color: @theme_highlight_color;
}

button:active {
	border-left-color: @theme_text_background_color;
}

#add_button, #close_button {
	background-color: @theme_background_color;
	border: none;
	margin-left: 5px;
	margin-right: -5px;
	padding: 0;
	opacity: 0.8;
}

#add_button:hover, #close_button:hover {
	opacity: 1;
}

#view_button:active {
	background-color: @theme_background_color;
}

selection {
	background-color: @theme_highlight_color;
}

separator {
	background-color: @theme_accent_color;
}

paned separator {
	background-color: @theme_accent_color;
}

#note_toggle:checked check {
	-gtk-icon-source: -gtk-gradient (radial,
                                   center center, 0,
                                   center center, 1,
                                   color-stop(0.25, @theme_highlight_color),
																	 color-stop(0.25, @theme_text_background_color)
																	 );
	box-shadow: none;
 	background-image: none;
 	border: none;
}

#note_toggle check {
	-gtk-icon-source: -gtk-gradient (radial,
                                   center center, 0,
                                   center center, 1,
                                   color-stop(0.25, @theme_background_color),
																	 color-stop(0.25, @theme_text_background_color)
																	 );
	margin-top: 2px;
	box-shadow: none;
 	background-image: none;
 	border: none;
	-gtk-icon-shadow: none;
}

#note_header {
	padding: 10px 10px 10px 10px;
}

#note_text_control {
	background-color: @theme_background_color;
	margin-left: 5px;
	margin-right: 5px;
	border-width: 0px;
	opacity: 0.5;
}

#note_text_control:active {
	background-color: @theme_background_color;
}

#note_text_control:checked {
	opacity: 1;
}

#note_header_title {
	margin-right: 40px;
}

/* SETTINGS */

tabs, tab, header {
	background-color: @theme_text_background_color;
	color: @theme_text_color;
	border-width: 0px;
}

tab {
	padding: 5px;
	box-shadow: none;
}

tab label {
	font-style: normal;
	font-weight: normal;
}

stack, tab:checked {
	background-color: @theme_background_color;
	border-width: 0px;
	color: @theme_text_color;
}

stack {
	margin: 10px;
}

tab:hover {
	background-color: @theme_highlight_color;
}

notebook {
	border-width: 0px;
	background-color: @theme_background_color;
}

checkbutton check {
	border: none;
	box-shadow: none;
	background-color: @theme_background_color;
	background-image: none;
	font-weight: 300;
	color: @theme_text_color;
}
